.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1{
    font-size: clamp(3.65rem, 10vw, 6rem); /* Responsive font size */
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 0 0 20px 0;
    padding: 0 10px;
}


button{
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}