.result-card{
    margin: 15px;
    padding: 10px;
    width: 70%;
    align-self: center;
    background-color: black;
    color: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

h2{
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;
}

